    <div class="card h-100 hoverable">
        {% if organizer.image %}
            {%
                include figure.liquid
                loading="eager"
                path=organizer.image
                sizes="250px"
                alt=organizer.name
                class="card-img-top"
            %}
        {% endif %}
        <div class="card-body">
            <h6 class="card-title"> <a href="{{ organizer.website }}"> {{ organizer.name }} </a></h6>
            <div class="d-flex justify-content-between align-items-center">
                <span class="card-text">{{ organizer.affiliation }}</span>
                {% comment %} <div>
                    <a href="{{ organizer.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
                    <a href="{{ organizer.scholar }}" class="ml-2"><i class="fa-solid fa-magnifying-glass"></i></a>
                </div> {% endcomment %}
            </div>
        </div>
    </div>